@import url(https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700,800);


html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #fefefe;
  color: #1a233c;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  //font-family: "Merriweather", Georgia, serif;
  font-size: 1rem;
  font-weight: 400;
  //line-height: 1.7em;
}

body.form_only {
  //adjusts for interstitial pop-up version
  background-color: #fefefe;
}

/* Typeography
*********************************/

h1, h4, h5 {
  font-weight: 700;
}

h2, h3 {
  font-family: "Merriweather", Georgia, serif;
}


h1 {
  font-size: 2.813rem;
  line-height: 1.4em;

}

h2 {
  font-size: 1.750rem;
  line-height: 1.5em;
}

h3 {
  font-size: 1.375rem;
  line-height: 1.6em;
  padding-bottom: 1em;
}


h4 {
  font-size: 1.125rem;
  line-height: 1.5em;
}

h5 {
  font-size: 1rem;
  line-height: 1.5em;
}


/* Links
*********************************/
a {
  color: #5ACCC2;
  text-decoration: underline;
  font-weight: 700;
}

a:focus, a:hover {
  color: #7ad7cf; }

footer a:link, footer a:visited {
  color: inherit; }

footer a:hover, footer a:focus {
  color: inherit; }

a:link,
a:visited,
a:hover,
a:focus {
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

a.nav-link {
  color: #888888;
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
  padding-top: .5em;
}

.nav-link:hover {
  color: #1b88dd;
}

/* Header
*********************************/

header {
//  padding-top: 0.5em;
//  padding-bottom: 0.5em;
  background-color: #fefefe;

}

/* Title / Hero
*********************************/
#titlebar {
  background: linear-gradient(45deg, #03A9F4, #1A78C2);
  padding-bottom: 5em;
  padding-top: 4em;
}

#titlebar h1 {
  color: #ffffff;
  font-weight: 700;
  padding-bottom: .3em;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

#titlebar .lead {
  color: #ffffff;
  font-weight: 400;
}

#title {
  //padding-bottom: 4em;
  background-color: #fefefe;
  box-shadow: inset 0px 3px 3px -3px rgba(0, 0, 0, 0.22);
  color: #1a233c;
  padding-top: 6em;
}

#title h4 {
  padding-top: 1em;
  padding-bottom: .8em;
  text-transform: uppercase;
  color: #607D8B;
}

#hero #title h4 {
  color: #ffffff;
}

#title-icon {
  padding-top: 3em;
  margin-bottom: 1em;
}

#hero #title {
  //box-shadow: inset 0px 3px 3px -3px rgba(0, 0, 0, 0.22);
  //padding-bottom: 4em;
  background-color: transparent;
  box-shadow: none;
  color: #ffffff;
  padding-top: 6em;
  padding: 10em 0em 6em 0em;
}

#hero {
  -moz-background-size: 100%;
  -moz-background-size: cover;
  -o-background-size: 100%;
  -o-background-size: cover;
  -webkit-background-size: 100%;
  -webkit-background-size: cover;
  /* background-size: 100%; */
  background-attachment: scroll;
  background-image: url('/assets/images/test.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 5em;
  min-height: 350px;

}

@media (max-width: 33.9em) {
  #hero {
    background-image: url("/assets/images/test.jpg");
    background-position: center center; } }
@media (min-width: 34em) and (max-width: 47.9em) {
  #hero {
    background-image: url("/assets/images/test.jpg");
    background-position: center center; } }
@media (min-width: 48em) and (max-width: 61.9em) {
  #hero {
    background-image: url("/assets/images/test.jpg");
    background-position: center center; } }
@media (min-width: 62em) {
  #hero {
    background-image: url("/assets/images/test.jpg");
    background-position: center center; } }


/* Content-Summary & Callout
*********************************/

#content-summary {
  background: linear-gradient(to top, #EDFBFF 0%,#EDFBFF 92%, #fefefe 50%, #fefefe 100%);
  margin-bottom: 5em;
//  margin-left: 1%;
//  margin-right: 1%;
  padding-bottom: 3em;
  margin-top: 4em;
}

#content-summary h2 {
  padding-bottom: 1em;
}

#content-summary img {
  max-height: 500px;
  margin-top: 1%;
  box-shadow:  3px 3px 4px 0px rgba(0, 0, 0, .30);
}

#content-callout {
  background: #EDFBFF;
  margin-bottom: 5em;
  margin-top: 4em;
  padding-top: 4em;
  padding-bottom: 4em;
}


#content-summary ul, #content-callout ul   {
 padding-left: 0px;
}

#content-summary li, #content-callout li {
  color: #1A233C;
  font-size: 15px;
  line-height: 22px;
  padding-bottom: 1rem;
  list-style-type: none;
}

#content-summary li:before, #content-callout li:before {
    content: "\f067";
    font-family: FontAwesome;
    color: #96DAFB;
    margin-right: .5em;
}


/* Content
*********************************/

#content {
  margin-bottom: 5em;
//  background-color: #fefefe;
}

#content-form-only {
  //adjusts for interstitial pop-up version
  padding-top: 1em;
  padding-bottom: 1em;
//  background-color: #fefefe;
}

#form-wrapper {
  margin-bottom: 5em;
}

#content .lead {
  color: #676767;
  line-height: 40px;
}

#content li {
  padding-bottom: 1rem;
}




.btn {
  -moz-user-select: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 3px;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  border-style: solid;
  border-width: 0px;
  cursor: pointer;
  display: inline-block;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 1.250em 0;
  padding: 10px 30px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: normal;
  word-break: normal;
  word-wrap: break-word;
}

.btn-primary {
  color: #ffffff;
  background-color: #2196F3;
  border-color: transparent;
}

.btn-primary:hover {
background-color: #54a6e6;
}

.btn-secondary {
  color: #607D8B;
  background-color: #ffffff;
  border-color: transparent;
}

.btn-secondary:hover {
background-color: rgba(255, 255, 255, .8);
color: #607D8B;
}



/* Webinar Only
*********************************/
#content-presenter {
  box-shadow:  3px 3px 4px 3px rgba(0, 0, 0, .10);
  padding-top: 5em;
  padding-bottom: 5em;
  margin-bottom: 5em;
}

.row .presenter {
  padding-top: 4%;
  padding-bottom: 4%;
}
.presenter:not(:last-child) {
  padding-bottom: 3rem;
}


.presenter-name {
  font-weight: 700;
  margin-bottom: 0px;
}

.presenter-title {
  font-style: italic;
}

.presenter img {
  border: 10px solid #fefefe;
  box-shadow:  3px 3px 4px 0px rgba(0, 0, 0, .10);
}

/* Vidyard
*********************************/
.vidyard-innerContainer {
    position: relative;
    display: block;
    width: 100% !important;
    height: 0;
    padding: 56.25% 0 0 0; /* This should reflect your video aspect ratio */
}

.vidyard_player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.vidyard_player > span {
    width: 100% !important;
    height: 100% !important;
    margin: 0 auto !important;
}


/* Form
*********************************/

#form-topper {
  margin-bottom: 1em;
}

#form-topper img {
  margin-bottom: 1em;
}


/*
body.confirm-unsub-promotional #form-container {
background-color: #EDFBFF;
padding: 5em;
} */

/* Additional Offer
*********************************/
#additional-offer {
  background-color: #EDFBFF;
  padding-top: 3em;
  padding-bottom:  3em;
}

#additional-offer p {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875em;
}


/* Footer
*********************************/

footer {
  background-color: #607D8B;
  color: rgba(255, 255, 255, 1);
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 12px;
  line-height: 1.813em;
  padding: 3em;
}


[class^="thank-you"] footer  {
  background-color: #607D8B;
  color: rgba(255, 255, 255, 1);
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 12px;
  line-height: 1.813em;
  padding: 3em;
}



/* Navigation Modal
*********************************/
body.modal-open .blur{
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
}

.modal-backdrop {
  background-color: #309cf3;
}

.modal-backdrop.show {
  opacity: 0.8;
}

.modal-nav-content {
  width: 100%;
  height: auto;
}

.modal-nav-body {
  margin-top: 100px;
}

.modal-nav-body ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.modal-nav-body ul a {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 700;
  line-height: 24px;
  font-size: 18px;
  letter-spacing: -1px;
  text-decoration: none;
}

.modal-nav-body ul a:hover {
  color: rgba(255, 255, 255, 1);
}


.modal-nav-body ul li {
  text-align: center;
  padding: 8px;
}



/* Marketo Form Styling and Override
*********************************/

// Style Fields
#kapostmktoform textarea,
#kapostmktoform input,
#kapostmktoform select {
  background-color: #fefefe;
  background-image: none;
  border-radius: 0rem !important;
  cursor: auto;
  font-family: "Open Sans",Arial,sans-serif;
  font-size: 16px !important;
  font-weight: normal;
  //letter-spacing: 1.3px;
  line-height: 2rem;
  margin-top: 0.4rem;
  margin-left: 0.1rem;
  text-transform: none;
  color: #1a233c;
}

#kapostmktoform input,
#kapostmktoform select {
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 1px solid #bbbbbb;
  border-width: 1pt;
  border-image-slice: 1;
}

#kapostmktoform textarea {
 padding: 0.475rem 0.75rem 0.275rem 0.75rem;
}

#kapostmktoform input {
  padding: 0.475rem 0.75rem 0rem 0rem;
  //border-image-source: linear-gradient(to left, #bbbbbb 0%, #bbbbbb 99%, #fefefe 0%, #fefefe 100%);
}

#kapostmktoform .form-padding  {
  margin-top: 2rem;
}



#kapostmktoform select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0.475rem 0.75rem 0.275rem 0rem;
  background: url('http://resources.kapost.com/rs/389-IOX-111/images/form-chevron-down-font-awesome.svg');
  background-position: right 10px top 60%;
  background-size: 10px;
  background-repeat: no-repeat;
  background-color: #fefefe;
}

#kapostmktoform select:hover {
  cursor: pointer;
}


#kapostmktoform textarea{
  border: 1px solid #cccccc;
}

.custom-control-input:focus ~ .custom-control-indicator {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(255, 0, 130, 0.25);
}


#kapostmktoform .form-control::placeholder {
  font-size: 16px;
  color: #aaaaaa;
}

#kapostmktoform .form-control:focus {
  color: #1a233c;
  background-color: #fff;
  border-color: #1a233c;
  outline: none;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

#kapostmktoform .checkbox-option {
//  color: #616669;
  cursor: auto;
  font-family: "Open Sans",Arial,sans-serif;
  font-weight: normal;
  font-size: 14px;
  text-transform: none;
  letter-spacing: normal;
  padding-left: 5px;

}

#kapostmktoform textarea {
  line-height: 1.375rem;
}

// Hide "Select One" option
#kapostmktoform select option:first-child {
  display: none; }

// Set Heights
#kapostmktoform textarea {
  min-height: 100px; }

// Set Heights

#kapostmktoform select,
#kapostmktoform input[type="text"],
#kapostmktoform input[type="email"],
#kapostmktoform input[type="tel"] {
  height: 50px;
}
/*
#kapostmktoform select,
#kapostmktoform input[type="text"],
#kapostmktoform input[type="email"],
#kapostmktoform input[type="tel"] {min-height: 30px;}
#kapostmktoform select {
  height: 50px;
}*/

#kapostmktoform label.error {
  color: #ff0000;
  font-family: "Open Sans",Arial,sans-serif;
  font-size: 10px !important;
  font-weight: normal;
  line-height: 1.5rem;
  //margin-left: 0.1rem;
  //padding: 0.475rem 0.75rem;
  text-transform: none;
  padding-left: .4rem;
  margin-bottom: 0rem;
}

#kapostmktoform #privacy-statement label.error {
  font-size: 0.825rem !important;
  padding-left: 0rem;
}


#kapostmktoform .form-group {
    margin-bottom: 0rem;
}

#kapostmktoform #textarea-wrapper {
  margin: 2rem 0 0 0;
}

#kapostmktoform #newsletter-wrapper {
  margin: 2rem 0 0 0;
}

#kapostmktoform #newsletter-wrapper .checkbox-description {
  padding-left: 25px;
  font-size: 80%;
  margin-bottom: 0rem;
}



/* Style Button */
#kapostmktoform button[type="submit"], #kapostmktoform-preference button[type="submit"] {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 3px;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  background-color: #2196F3;
  border-color: transparent;
  border-style: solid;
  border-width: 0px;
  color: #ffffff;
  cursor: pointer;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2px;
  //margin: 1.250em 0;
  margin: 2.5rem 0 1rem 0;
  padding: 15px 10px;
  text-transform: uppercase;
  white-space: normal;
  width: 100%;
  word-break: normal;
  word-wrap: break-word; }

#kapostmktoform button[type=submit]:hover, #kapostmktoform-preference button[type=submit]:hover {
  background-color: #54a6e6;
  cursor: pointer; }



/* Floating Labels Plugin (+ Some Select Styling)
   ================================== */

#kapostmktoform label.float-label {
 position: absolute;
 //top: 0px;
 left: 17px;
 font-size: 11px;
 color: #2196F3;
 opacity: 0;
 text-transform: uppercase;
 transition: all 0.1s linear;
 font-weight: 600;
 margin-top: 0.2rem;
}


#kapostmktoform label.on {
 color: #2196F3;
}

#kapostmktoform label.show {
 top: -15px;
 opacity: 1;
 font-weight: 600;
}


#kapostmktoform option {
 color: #1a233c;
}

#kapostmktoform .watermark {
 color: #aaaaaa;
}

body {
//the following line fixes a blink in chrome https://code.google.com/p/chromium/issues/detail?id=108025
 -webkit-backface-visibility: hidden;
}



/* Form Styling by Browsers
   ================================== */

@-moz-document url-prefix() {
  /* Firefox CSS styles go here */
    #kapostmktoform input {
      padding: 0.475rem 0.75rem 0.5rem 0.225rem;
      border-image-source: linear-gradient(to left, #bbbbbb 0%, #bbbbbb 98.8%, #fefefe 0%, #fefefe 100%);
    }

    #kapostmktoform select {
      //padding: 0.475rem 0.75rem 0.5rem 0.225rem;
      border-image-source: linear-gradient(to left, #bbbbbb 0%, #bbbbbb 98.8%, #fefefe 0%, #fefefe 100%);
    }

    #kapostmktoform label.float-label {
      left: 21px;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
/* CSS Statements that only apply on webkit-based browsers (Chrome, Safari, etc.) */
}


@supports (-ms-ime-align: auto) {
   /* Microsoft EdgeV13&14 CSS styles go here */
   #kapostmktoform input {
     padding: 0.475rem 0.75rem 0.5rem 0.225rem;
     border-image-source: linear-gradient(to left, #bbbbbb 0%, #bbbbbb 98.8%, #fefefe 0%, #fefefe 100%);
   }

   #kapostmktoform select {
     border-image-source: linear-gradient(to left, #bbbbbb 0%, #bbbbbb 98.8%, #fefefe 0%, #fefefe 100%);
   }

   #kapostmktoform label.float-label {
     left: 20px;
   }
}



/* Privacy Statement
   ================================== */
#kapostmktoform #privacy-statement {
  //line-height: 1.813em;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 0.825rem;
  text-align: justify !important;
  margin-top: 10px;
}

#kapostmktoform #privacy-statement h5 {
  text-align: center;
}

#kapostmktoform  #privacy-statement .LV_invalid {}

#kapostmktoform #privacy-statement-checkbox {
  clear: both;
  display: inline;
}

#kapostmktoform #legalCheckbox {
  margin: 0px 10px 0px 0px; }



/* On/Off Switch
   ================================== */
/* Modified From: https://proto.io/freebies/onoff/ */

.onoffswitch {
    -moz-user-select:none;
    -ms-user-select: none;
    -webkit-user-select:none;
    margin-top: 0.5em;
    position: relative;
    width: 30px;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    cursor: pointer;
    display: block;
    overflow: hidden;
}
.onoffswitch-inner {
    display: block;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
    width: 200%;

}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    background-clip: padding-box;
    box-sizing: border-box;
    color: #ffffff;
    display: block;
    float: left;
    font-family: FontAwesome, "Open Sans";
    font-weight: 700;
    height: 30px;
    line-height: 30px; /* "Vertical padding" */
    padding: 0;
    text-align: center;
    width: 50%;
}
.onoffswitch-inner:before {
    background-color: #2196F3;
    content: "\f00c ";
}
.onoffswitch-inner:after {
    background-color: #bebebe;
    content: "\f00d ";
}
/*
.onoffswitch-switch {
    display: block; width: 0px; margin: 0px;
    background: #000000;
    position: absolute; top: 0; bottom: 0;
    right: 107px;
    transition: all 0.3s ease-in 0s;
} */

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
