<div id="additional-offer" class="container-fluid">
  <div class="container">

    <div class="row d-flex align-items-center">
      <div class="col-12 col-lg-6 text-center">
        <img src="http://via.placeholder.com/800x400" style="height: 200px;">
      </div>
      <div class="col-12 col-lg-6">
        <h3>Learn how to bring your content marketing operation to the next level.</h3>
        <p><a href="">Check out our blog</a></p>
      </div>
    </div>

  </div>
</div>
