<footer>
  <div class="container">

    <div class="row">

      <div class="col-12 col-md-6">
        <a href="http://www.kapost.com"><img src="http://resources.kapost.com/rs/389-IOX-111/images/logo-kapost-white-535x145.svg" style="height: 50px; margin-bottom: 1em;"></a>
        <p>The B2B Marketing Operating System</p>
        <p>
          © Kapost {{my.Copyright Year}} | <a href="http://kapost.com/privacy-policy/">Privacy Policy</a>
        </p>
      </div>

      <div class="col-12 col-md-6 d-flex align-items-center">
        <p>
          {{my.About Us - Text Only}} Kapost is a B2B marketing operating system that enables marketers to manage the marketing function amid the complexity of the digital age. Kapost aligns your organization's teams, tools and channels, so you can effectively execute, distribute and analyze content across your buyer's journey.
        </p>
      </div>

    </div>

  </div>
</footer>
