<section id="form-container">
    <div class="container">
      <div class="row no-gutters justify-content-center">
        <div class="col-12 col-lg-5">
          <div class="form-wrapper">

            <!--Start Form Code-->
            <form id="kapostmktoform" action="http://app-sj08.marketo.com/index.php/leadCapture/save" method="POST" target="_parent">
            <input type="hidden" name="munchkinId" value="389-IOX-111">
            <input type="hidden" name="formid" value="${mkto-form-id}">
            <input type="hidden" name="returnLPId" value="-1"> <!--What does this do?-->
            <input type="hidden" name="_mkt_trk" value=""> <!--Munchkin passes value into this field-->
            <input type="hidden" id="leadSourceMostRecent" name="Lead_Source_Most_Recent__c" value="${mkto-form-lead-source-most-recent}"> <!-- Lead Source (Most Recent) -->
            <input type="hidden" id="referralSourceMostRecent" name="Referral_Source_Most_Recent__c" value="Unknown"> <!-- Referral Source (Most Recent) -->
            <input type="hidden" id="searchPlatformMostRecent" name="Search_Platform_Most_Recent__c" value="Unknown"> <!-- Search Platform (Most Recent) -->
            <input type="hidden" id="socialNetworkMostRecent" name="Social_Network_Most_Recent__c" value="Unknown"> <!-- Social Network (Most Recent) -->
            <input type="hidden" id="paidServiceMostRecent" name="Paid_Service_Most_Recent__c" value="Unknown"> <!-- Paid Service (Most Recent) -->
            <input type="hidden" id="campaignPageURL" name="Campaign_Page_URL__c" value=""> <!-- Campaign Page URL -->
            <input type="hidden" id="campaignPageURLReferrer" name="Campaign_Page_URL_Referrer__c" value=""> <!-- Campaign Page URL (Referrer) -->
            <!--<input type="hidden" name="Hand_Raise_Most_Recent__c" value="Demo Request Form">--> <!-- Hand Raise Only -->
            <!--<input type="hidden" name="Hand_Raised__c" value="true">--> <!-- Hand Raise Only -->
            <input type="hidden" name="ret" value="${mkto-form-redirect}" />

            <!--Hidden email address field; pre-pops-->
            <input id="Email" name="Email" type="hidden" value="{{lead.Email Address}}">

            <div class="row"> <!-- Start field row -->

              <h4>Let us know why you unsubscribed</h4>

              <div class="col-12">
                <div class="form-check">
                  <label class="checkbox">
                    <input id="UPDATEME1" name="UPDATEME1"  type="checkbox">
                    <span class="checkbox-option">Content is not relevant to me</span>
                  </label>
                </div>
              </div>

              <div class="col-12">
                <div class="form-check">
                  <label class="checkbox">
                    <input id="UPDATEME1" name="UPDATEME1"  type="checkbox">
                    <span class="checkbox-option">I didn't sign up for this</span>
                  </label>
                </div>
              </div>

              <div class="col-12">
                <div class="form-check">
                  <label class="checkbox">
                    <input id="UPDATEME1" name="UPDATEME1"  type="checkbox">
                    <span class="checkbox-option">I get too many emails from Kapost</span>
                  </label>
                </div>
              </div>

              <div class="col-12">
                <div class="form-check">
                  <label class="checkbox">
                    <input id="UPDATEME1" name="UPDATEME1"  type="checkbox">
                    <span class="checkbox-option">I'm not the right person to be receiving this</span>
                  </label>
                </div>
              </div>


              <div class="col-12" style="display: ${mkto-form-comment};">
                <!--Contact Sales Message-->
                <fieldset class="form-group">
                  <label class="sr-only" for="Contact_Sales_Message__c">Message (Optional)</label>
                  <textarea id="Contact_Sales_Message__c" name="Contact_Sales_Message__c" class="form-control floatlabel" placeholder="Message (Optional)"  rows="3"></textarea>
                </fieldset>
              </div>


            </div> <!--End Field Row-->

            <!--Submit Button-->
            <div class="row justify-content-center">
              <div class="col-12">
                <button name="kapostmktoform" type="submit" class="btn btn-block">${mkto-form-button-copy}</button>
              </div>
            </div>


          </form>

          <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>

          <script>
            //START VALIDATION CONFIG + REMOVE COOKIES ON SUBMIT
            //Customize error messages here...
            var myLanguage = {
             errorTitle: 'One or more required fields are missing!',
             requiredFields: 'This field is required',
             badEmail: 'Please enter a valid email address',
             badTelephone: 'Please enter a valid phone number',
             lengthBadStart: 'The input value must be between ',
             lengthBadEnd: ' characters',
             lengthTooLongStart: 'The input value is longer than ',
             lengthTooShortStart: 'The input value is shorter than ',
             badCustomVal: 'The input value is incorrect',
             andSpaces: ' and spaces ',
             badInt: 'Please enter a valid phone number',
             badAlphaNumeric: 'The input value can only contain alphanumeric characters '
            };

            $.validate({
              form : '#kapostmktoform', //form ID
              modules : 'html5',
              errorMessagePosition : 'top', // Instead of 'inline' which is default
              scrollToTopOnError : true, // Set this property to true on longer forms
              addSuggestions : false, // Set to false if you don't want the plugin to search through the form for input suggestions.
              language : myLanguage, // Customize error messages

              onSuccess : function($form) {
                Cookies.remove('kapostsearch', { domain: 'kapost.com' });
                Cookies.remove('kapostsocial', { domain: 'kapost.com' });
                Cookies.remove('kapostsource', { domain: 'kapost.com' });
                Cookies.remove('kapostpaid', { domain: 'kapost.com' });
                Cookies.remove('kapostsearch');
                Cookies.remove('kapostsocial');
                Cookies.remove('kapostsource');
                Cookies.remove('kapostpaid');
              }

            });
          </script>


        </div>
      </div>
    </div>
  </div>
</section>
