<!--START Form Reset-->
<script>
$(document).ready(function() {

  //var hideKnownFieldsValue = ${mkto-form-showhide};
  var hideKnownFieldsValue = false;

  if (hideKnownFieldsValue == true) {
    hideKnownFields(); //hide fields and remove requirement

    $('#clearForm').on('click', function() {
      $("#kapostmktoform")[0].reset(); //clears validation, but Marketo tokens return
      $('#kapostmktoform').find('input:text, input:password, select, textarea').val(''); //clears Marketo tokens out of fields
      showAllFields(); //show all fields again and make them required again
    });

  } else {

    $('#clearForm').on('click', function() {
      $("#kapostmktoform")[0].reset(); //clears validation, but Marketo tokens return
      $('#kapostmktoform').find('input:text, input:password, select, textarea').val(''); //clears Marketo tokens out of fields
    });

  }

});
</script>

<div id="clearFormContainer" class="row">
  <div class="col-12 text-center text-lg-left">
    <p style="line-height: 18px; font-size: 12px;">Not you? <a href="#clearForm" id="clearForm">Clear form fields</a>.</p>

  </div>
</div>
<!--END Form Reset-->


<!--START POPULATE JOB FUNCTION and Job Role-->
<script type="text/javascript">
//Populate Job Role
function populateJobRole() {

  var fieldJobFunctionID = document.getElementById('Job_Function__c').value;
  var fieldJobRoleID = document.getElementById('Job_Role__c');

  var arrayMarketingOptions = ["Business Operations", "Content Marketer", "Copywriter", "Corporate Communications", "Creative", "Demand Generation", "Editor", "Event Management", "Field Marketing", "Intern", "Marketing Analyst", "Marketing Automation", "Marketing Leadership", "Marketing Operations", "Product Marketer", "Project Manager", "Public Relations", "Sales Operations", "SEO", "Social", "Other"]

  var arraySalesOptions = ["Business Operations", "Demand Generation", "Sales Leadership", "Sales Operations", "Sales Representative", "Other"]

  var arrayAccountingOptions = ["Accounts Payable", "Business Operations", "Marketing Operations", "Procurement", "Sales Operations", "Other"]

  //Marketing
  if (fieldJobFunctionID == "Marketing") {
    fieldJobRoleID.options.length = 0;
    fieldJobRoleID.options[fieldJobRoleID.options.length] = new Option('Job Role...', '', true, true);
    for(index in arrayMarketingOptions) {
        fieldJobRoleID.options[fieldJobRoleID.options.length] = new Option(arrayMarketingOptions[index], arrayMarketingOptions[index]);
    }
  }

  //Sales
  if (fieldJobFunctionID == "Sales") {
    fieldJobRoleID.options.length = 0;
    fieldJobRoleID.options[fieldJobRoleID.options.length] = new Option('Job Role...', '', true, true);
    for(index in arraySalesOptions) {
        fieldJobRoleID.options[fieldJobRoleID.options.length] = new Option(arraySalesOptions[index], arraySalesOptions[index]);
    }
  }

  //Accounting, Finance or Purchasing
  if (fieldJobFunctionID == "Accounting" || fieldJobFunctionID == "Finance" || fieldJobFunctionID == "Purchasing") {
    fieldJobRoleID.options.length = 0;
    fieldJobRoleID.options[fieldJobRoleID.options.length] = new Option('Job Role...', '', true, true);
    for(index in arrayAccountingOptions) {
        fieldJobRoleID.options[fieldJobRoleID.options.length] = new Option(arrayAccountingOptions[index], arrayAccountingOptions[index]);
    }
  }

}

</script>
