<section id="form-container">
    <div class="container">
      <div class="row no-gutters justify-content-center">
        <div class="col-12 col-lg-5">
          <div class="form-wrapper">


            <%= javascript_include_tag "jquery.job-role-kpst" %>

            <!--Start Form Code-->
            <form id="kapostmktoform" name="kapostmktoform" action="http://app-sj08.marketo.com/index.php/leadCapture/save" method="POST" target="_parent">
            <input type="hidden" name="munchkinId" value="389-IOX-111">
            <input type="hidden" name="formid" value="${mkto-form-id}">
            <input type="hidden" name="returnLPId" value="-1"> <!--What does this do?-->
            <input type="hidden" name="_mkt_trk" value=""> <!--Munchkin passes value into this field-->
            <input type="hidden" id="leadSourceMostRecent" name="Lead_Source_Most_Recent__c" value="${mkto-form-lead-source-most-recent}"> <!-- Lead Source (Most Recent) -->
            <input type="hidden" id="referralSourceMostRecent" name="Referral_Source_Most_Recent__c" value="Unknown"> <!-- Referral Source (Most Recent) -->
            <input type="hidden" id="searchPlatformMostRecent" name="Search_Platform_Most_Recent__c" value="Unknown"> <!-- Search Platform (Most Recent) -->
            <input type="hidden" id="socialNetworkMostRecent" name="Social_Network_Most_Recent__c" value="Unknown"> <!-- Social Network (Most Recent) -->
            <input type="hidden" id="paidServiceMostRecent" name="Paid_Service_Most_Recent__c" value="Unknown"> <!-- Paid Service (Most Recent) -->
            <input type="hidden" id="campaignPageURL" name="Campaign_Page_URL__c" value=""> <!-- Campaign Page URL -->
            <input type="hidden" id="campaignPageURLReferrer" name="Campaign_Page_URL_Referrer__c" value=""> <!-- Campaign Page URL (Referrer) -->
            <!--<input type="hidden" name="Hand_Raise_Most_Recent__c" value="Demo Request Form">--> <!-- Hand Raise Only -->
            <!--<input type="hidden" name="Hand_Raised__c" value="true">--> <!-- Hand Raise Only -->
            <input type="hidden" name="ret" value="${mkto-form-redirect}" />

            <!--START Form Reset--><!--
            <script>
            $(document).ready(function() {

              var hideKnownFieldsValue = ${mkto-form-showhide};

              if (hideKnownFieldsValue == true) {
                hideKnownFields(); //hide fields and remove requirement

                $('#clearForm').on('click', function() {
                  $("#kapostmktoform")[0].reset(); //clears validation, but Marketo tokens return
                  $('#kapostmktoform').find('input:text, input:password, select, textarea').val(''); //clears Marketo tokens out of fields
                  showAllFields(); //show all fields again and make them required again
                });

              } else {

                $('#clearForm').on('click', function() {
                  $("#kapostmktoform")[0].reset(); //clears validation, but Marketo tokens return
                  $('#kapostmktoform').find('input:text, input:password, select, textarea').val(''); //clears Marketo tokens out of fields
                });

              }

            });
            </script>

            <div id="clearFormContainer" class="row">
              <div class="col-12 text-center text-lg-left">
                <p style="line-height: 18px; font-size: 12px;">Not you? <a href="#clearForm" id="clearForm">Clear form fields</a>.</p>

              </div>
            </div>-->
            <!--END Form Reset-->

<h2>THIS IS AN OLD VERSION</h2>

            <div class="row"> <!-- Start field row -->

              <div class="col-12">
              <!--First Name-->
                <fieldset class="form-group">
                  <label class="sr-only" for="FirstName">First Name Label</label>
                  <input id="FirstName" name="FirstName" data-validation="required" type="text" class="form-control floatlabel" placeholder="First Name" value="{{lead.First Name}}">
                </fieldset>
              </div>

              <div class="col-12">
              <!--Last Name-->
                <fieldset class="form-group">
                  <label class="sr-only" for="LastName">Last Name</label>
                  <input id="LastName" name="LastName" data-validation="required" type="text" class="form-control floatlabel" placeholder="Last Name" value="{{lead.Last Name}}">
                </fieldset>
              </div>

              <div class="col-12">
              <!--Email Address-->
                <fieldset class="form-group">
                  <label class="sr-only" for="Email">Email address</label>
                  <input id="Email" name="Email" data-validation="email" type="text" class="form-control floatlabel" placeholder="Email Address" value="{{lead.Email Address}}">
                </fieldset>
              </div>

              <div class="col-12">
              <!--Phone Number-->
                <fieldset class="form-group">
                  <label class="sr-only" for="Phone">Phone Number</label>
                  <input id="Phone" name="Phone" data-validation="required" type="text" class="form-control floatlabel" placeholder="Phone Number" value="{{lead.Phone Number}}">
                </fieldset>
              </div>

              <div class="col-12">
              <!--Company Name-->
                <fieldset class="form-group">
                  <label class="sr-only" for="Company">Company</label>
                  <input id="Company" name="Company" data-validation="required" type="text" class="form-control floatlabel" placeholder="Company Name" value="{{company.Company Name}}">
                </fieldset>
              </div>


              <div class="col-12">
                <!--Country-->
                <fieldset class="form-group">
                  <label class="sr-only" for="Marketing_Country__c">Country</label>
                  <select id="Marketing_Country__c" name="Marketing_Country__c" data-validation="required" class="form-control">
                    <option value="" selected>Country...</option>
                    <option value="Australia" >Australia</option>
                    <option value="Canada" >Canada</option>
                    <option value="Germany" >Germany</option>
                    <option value="United States" >United States</option>

                  </select>
                </fieldset>
              </div>



              <div class="col-12">
                <!--Title Category-->
                <fieldset class="form-group">
                  <label class="sr-only" for="Title_Category__c">Title Category</label>
                  <select id="Title_Category__c" name="Title_Category__c" data-validation="required" class="form-control">
                    <option value="" selected>Title Category...</option>
                    <option value="C-Level" >C-Level</option>
                    <option value="Executive" >Executive</option>
                    <option value="Director" >Director</option>
                    <option value="Manager" >Manager</option>
                    <option value="Specialist or Associate" >Specialist or Associate</option>
                    <option value="Agency or Consultant" >Agency or Consultant</option>
                    <option value="Other" >Other</option>

                  </select>
                </fieldset>
              </div>

              <div class="col-12">
                <!--Department-->
                <fieldset class="form-group">
                  <label class="sr-only" for="Job_Function__c">Department</label>
                  <select id="Job_Function__c" name="Job_Function__c" data-validation="required" class="form-control" onchange="populateJobRole(document.kapostmktoform.Job_Function__c.options[document.kapostmktoform.Job_Function__c.selectedIndex].value);" size="1">
                    <option value="" selected>Department...</option>
                  </select>
                </fieldset>
              </div>

              <div id="JR" class="col-12" style="display: none;">
                <!--Job Role-->
                <fieldset class="form-group">
                  <label class="sr-only" for="Job_Role__c">Role</label>
                  <select id="Job_Role__c" name="Job_Role__c" data-validation="required" class="form-control" size="1">
                    <option value="" selected>Job Role...</option>
                  </select>
                </fieldset>
              </div>


              <div class="col-12">
                <!--Marketing Automation-->
                <fieldset class="form-group">
                  <label class="sr-only" for="Marketing_Automation__c">Marketing Automation</label>
                  <select id="Marketing_Automation__c" name="Marketing_Automation__c" data-validation="required" class="form-control">
                    <option value="" selected>Marketing Automation...</option>
                    <option value="Act-On" >Act-On</option>
                    <option value="Adobe" >Adobe</option>
                    <option value="Eloqua" >Eloqua</option>
                    <option value="ExactTarget" >ExactTarget</option>
                    <option value="Hubspot" >Hubspot</option>
                    <option value="Marketo" >Marketo</option>
                    <option value="Pardot" >Pardot</option>
                    <option value="Silverpop" >Silverpop</option>
                    <option value="Other" >Other</option>
                    <option value="None" >None</option>
                    <option value="I don't know" >I don't know</option>
                  </select>
                </fieldset>
              </div>

              <div class="col-12">
                <!--Business Type-->
                <fieldset class="form-group">
                  <label class="sr-only" for="Business_Type__c">Business Type</label>
                  <select id="Business_Type__c" name="Business_Type__c" data-validation="required" class="form-control">
                    <option selected="selected" value="">Business Type...</option>
                    <option value="B2B">B2B</option>
                    <option value="B2C">B2C</option>
                    <option value="Other">Other</option>
                  </select>
                </fieldset>
              </div>

              <div class="col-12" style="display: ${mkto-form-comment};">
                <!--Contact Sales Message-->
                <fieldset class="form-group">
                  <label class="sr-only" for="Contact_Sales_Message__c">Message (Optional)</label>
                  <textarea id="Contact_Sales_Message__c" name="Contact_Sales_Message__c" class="form-control floatlabel" placeholder="Message (Optional)"  rows="3"></textarea>
                </fieldset>
              </div>

              <div id="newsletter-wrapper" class="col-12" style="display: none;">
                <div class="form-check">
                  <!--<p style="font-size: 90%;">Also subscribe me to...</p>
                  <hr>-->
                  <label class="checkbox">
                    <input id="Subscribed_to_Newsletter__c" name="Subscribed_to_Newsletter__c"  type="checkbox">
                    <span class="checkbox-option" style="font-weight: 700;">The Content Marketeer</span>
                  </label>
                  <p style="padding-left: 25px; font-size: 80%;">Subscribe to our weekly newsletter and get fresh insights, stories, data and best practices delivered right to your inbox.</p>
                </div>
              </div>


            </div> <!--End Field Row-->

            <div class="row justify-content-center">
              <div class="col-12">
                <div id="validation-error-above-submit"></div>
              </div>
            </div>



            <!--Submit Button-->
            <div class="row justify-content-center">
              <div class="col-12">
                <button name="kapostmktoform" type="submit" class="btn btn-block">${mkto-form-button-copy}</button>
              </div>
            </div>

            <!--LEGAL STATEMENT-->
            <div class="row">
              <div class="col-12">


                <div id="privacy-statement"><!--<h5>Terms of Service</h5>-->

                  <div id="privacy-statement-checkbox">

                    <input id="legalCheckbox" name="legalCheckbox" type="checkbox" data-validation="required" data-validation-depends-on="Marketing_Country__c" data-validation-depends-on-value="Canada, Germany, Australia" data-validation-error-msg="You must agree to Kapost&rsquo;s Terms of Service." data-validation-error-msg-container="#validation-error-express-opt-in">
                    <span id="validation-error-express-opt-in"></span>

                    <span class="privacy-statement">By submitting this form, I acknowledge and agree to the storing and processing of my personal data by Kapost as described in their <a href="https://kapost.com/privacy-policy/" target="_blank">Privacy Policy</a>, as well as Kapost's use of my contact information to communicate with me regarding Kapost's products, services, and events. I may unsubscribe at any time.</span>

                  </div>


                </div>

              </div>
            </div>


          </form>

          <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>

          <script>
            //START VALIDATION CONFIG + REMOVE COOKIES ON SUBMIT
            //Customize error messages here...
            var myLanguage = {
              errorTitle: 'One or more required fields are missing',
              requiredFields: 'You have not answered all required fields'
            };

            /*
            $(function () {
                $('[data-validation]').attr('data-validation-error-msg-container', '#validation-error-above-submit');
            }); */

            $.validate({
              form : '#kapostmktoform', //form ID
              modules : 'html5, logic',
              //errorMessagePosition : 'top', // Instead of 'inline' which is default
              scrollToTopOnError : false, // Set this property to true on longer forms
              addSuggestions : false, // Set to false if you don't want the plugin to search through the form for input suggestions.
              language : myLanguage, // Customize error messages


              onSuccess : function($form) {
                Cookies.remove('kapostsearch', { domain: 'kapost.com' });
                Cookies.remove('kapostsocial', { domain: 'kapost.com' });
                Cookies.remove('kapostsource', { domain: 'kapost.com' });
                Cookies.remove('kapostpaid', { domain: 'kapost.com' });
                Cookies.remove('kapostsearch');
                Cookies.remove('kapostsocial');
                Cookies.remove('kapostsource');
                Cookies.remove('kapostpaid');
              }

            });
          </script>



          <!--START PICK LIST PRE-POP-->
          <script type="text/javascript">

          var marketingCountryValue = "{{lead.Marketing Country}}";
          var marketingCountryList = document.getElementById('Marketing_Country__c').options;
            for (var i=0; i<marketingCountryList.length; i++) {
              if (marketingCountryValue==marketingCountryList[i].value) {
              document.getElementById('Marketing_Country__c').value = marketingCountryValue;
              break;}
              else {
              document.getElementById('Marketing_Automation__c').value = "";}
            }

            var titleCategoryValue = "{{lead.Title Category}}";
            var titleCategoryList = document.getElementById('Title_Category__c').options;
              for (var i=0; i<titleCategoryList.length; i++) {
                if (titleCategoryValue==titleCategoryList[i].value){
                document.getElementById('Title_Category__c').value = titleCategoryValue;
                break; }
                else {
                document.getElementById('Title_Category__c').value = "";}
              }


            var jobFunctionValue = "{{lead.Job Function}}";
            var jobFunctionList = document.getElementById('Job_Function__c').options;
              for (var i=0; i<jobFunctionList.length; i++) {
                if (jobFunctionValue==jobFunctionList[i].value){
                document.getElementById('Job_Function__c').value = jobFunctionValue;
                break; }
                else {
                document.getElementById('Job_Function__c').value = "";}
              }

            var jobRoleValue = "{{lead.Job Role}}";
            var jobRoleList = document.getElementById('Job_Role__c').options;
              for (var i=0; i<jobRoleList.length; i++) {
                if (jobRoleValue==jobRoleList[i].value){
                document.getElementById('Job_Role__c').value = jobRoleValue;
                break; }
                else {
                document.getElementById('Job_Role__c').value = "";}
              }


            var marketingAutomationValue = "{{lead.Marketing Automation}}";
            var marketingAutomationList = document.getElementById('Marketing_Automation__c').options;
              for (var i=0; i<marketingAutomationList.length; i++) {
                if (marketingAutomationValue==marketingAutomationList[i].value) {
                document.getElementById('Marketing_Automation__c').value = marketingAutomationValue;
                break;}
                else {
                document.getElementById('Marketing_Automation__c').value = "";}
              }

            var businessTypeValue = "{{lead.Business Type}}";
            var businessTypeList = document.getElementById('Business_Type__c').options;
              for (var i=0; i<businessTypeList.length; i++) {
                if (businessTypeValue==businessTypeList[i].value){
                document.getElementById('Business_Type__c').value = businessTypeValue;
                break; }
                else {
                document.getElementById('Business_Type__c').value = "";}
              }

          </script>
          <!--END PICK LIST PRE-POP-->

          <!--START NEWSLETTER SHOW/HIDE-->
          <script type="text/javascript">
          var newsletterValue = "{{lead.Subscribed to Newsletter}}"; //= ""; //

          if (newsletterValue !== "1") {
            document.getElementById('newsletter-wrapper').style.display = "";
          }

          </script>
          <!--END NEWSLETTER SHOW-->

          <script type="text/javascript">
            //Show/hide based on pre-pop
            var fieldFirstName = document.getElementById('FirstName');
            var fieldLastName = document.getElementById('LastName');
            var fieldPhone = document.getElementById('Phone');
            var fieldCompany = document.getElementById('Company');
            var fieldMarketingCountry = document.getElementById('Marketing_Country__c');
            var fieldTitleCategory = document.getElementById('Title_Category__c');
            var fieldJobFuntion = document.getElementById('Job_Function__c');
            var fieldJobRole = document.getElementById('Job_Role__c');
            var fieldMarketingAutomation = document.getElementById('Marketing_Automation__c');
            var fieldBusinessType = document.getElementById('Business_Type__c');

            //Show/Hide Form Fields

            function hideKnownFields() {

              //hide field and make it optional (so a hidden field can't error on submit)
              if ((fieldFirstName.value) !== '') {
                $(fieldFirstName).parents('div').eq(1).fadeOut();
                fieldFirstName.setAttribute("data-validation", "");
              }

              if ((fieldLastName.value) !== '') {
                $(fieldLastName).parents('div').eq(1).fadeOut();
                fieldLastName.setAttribute("data-validation", "");
              }

              if ((fieldPhone.value) !== '') {
                $(fieldPhone).parents('div').eq(1).fadeOut();
                fieldPhone.setAttribute("data-validation", "");
              }

              if ((fieldCompany.value) !== '') {
                $(fieldCompany).parents('div').eq(1).fadeOut();
                fieldCompany.setAttribute("data-validation", "");
              }

              if ((fieldMarketingCountry.value) !== '') {
                $(fieldMarketingCountry).parents('div').eq(1).fadeOut();
                fieldMarketingCountry.setAttribute("data-validation", "");
              }

              if ((fieldTitleCategory.value) !== '') {
                $(fieldTitleCategory).parents('div').eq(1).fadeOut();
                fieldTitleCategory.setAttribute("data-validation", "");
              }

              if ((fieldJobFuntion.value) !== '') {
                $(fieldJobFuntion).parents('div').eq(1).fadeOut();
                fieldJobFuntion.setAttribute("data-validation", "");
              }

              if ((fieldJobRole.value) !== '') {
                $(fieldJobRole).parents('div').eq(1).fadeOut();
                fieldJobRole.setAttribute("data-validation", "");
              }

              if ((fieldMarketingAutomation.value) !== '') {
                $(fieldMarketingAutomation).parents('div').eq(0).fadeOut();
                fieldMarketingAutomation.setAttribute("data-validation", "");
              }

              if ((fieldBusinessType.value) !== '') {
                $(fieldBusinessType).parents('div').eq(0).fadeOut();
                fieldBusinessType.setAttribute("data-validation", "");
              }

            }

            function showAllFields() {
              //show all fields
              $(fieldFirstName).parents('div').eq(1).fadeIn();
              $(fieldLastName).parents('div').eq(1).fadeIn();
              $(fieldPhone).parents('div').eq(1).fadeIn();
              $(fieldCompany).parents('div').eq(1).fadeIn();
              $(fieldMarketingCountry).parents('div').eq(1).fadeIn();
              $(fieldTitleCategory).parents('div').eq(1).fadeIn();
              $(fieldJobFuntion).parents('div').eq(1).fadeIn();
              $(fieldJobRole).parents('div').eq(1).fadeIn();
              $(fieldMarketingAutomation).parents('div').eq(0).fadeIn();
              $(fieldBusinessType).parents('div').eq(0).fadeIn();

              //make all fields required again
              fieldFirstName.setAttribute("data-validation", "required");
              fieldLastName.setAttribute("data-validation", "required");
              fieldPhone.setAttribute("data-validation", "required");
              fieldCompany.setAttribute("data-validation", "required");
              fieldMarketingCountry.setAttribute("data-validation", "required");
              fieldTitleCategory.setAttribute("data-validation", "required");
              fieldJobFuntion.setAttribute("data-validation", "required");
              fieldJobRole.setAttribute("data-validation", "required");
              fieldMarketingAutomation.setAttribute("data-validation", "required");
              fieldBusinessType.setAttribute("data-validation", "required");

            }


            //Privacy Policy Show/Hide
            $(document).ready(function () {

              var arrayExpressCountry = [
              "Canada",
              "Germany",
              "Australia"
              ];

              function checkForExpressCountry() {

                var expressCountry;
                var userCountry = document.getElementById('Marketing_Country__c').value;
                var wrapperPrivacyStatement = document.getElementById('privacy-statement');

                for (var i=0; i<arrayExpressCountry.length;i++) {
                  if (userCountry==arrayExpressCountry[i]) {
                    expressCountry = arrayExpressCountry[i];
                  }
                }

                if ((userCountry==expressCountry) && (userCountry != null)) {
                  $(wrapperPrivacyStatement).fadeIn();
                } else {
                  $(wrapperPrivacyStatement).fadeOut();
                }

              }

              $(document).ready(checkForExpressCountry);
              $("[id=Marketing_Country__c]").change(checkForExpressCountry);

            });





          </script>

        </div>
      </div>
    </div>
  </div>
</section>
