<div id="form-container" class="container-fluid">
  <div class="container">
    <div class="row no-gutters justify-content-center">
      <div class="col-12 col-lg-7" >

          <!--Start Form Code-->
          <form id="kapostmktoform-preference" action="http://app-sj08.marketo.com/index.php/leadCapture/save" method="POST" target="_parent">
          <input type="hidden" name="munchkinId" value="389-IOX-111">
          <input type="hidden" name="formid" value="${mkto-form-id}">
          <input type="hidden" name="returnLPId" value="-1"> <!--What does this do?-->
          <input type="hidden" name="_mkt_trk" value=""> <!--Munchkin passes value into this field-->
          <input type="hidden" id="leadSourceMostRecent" name="Lead_Source_Most_Recent__c" value="${mkto-form-lead-source-most-recent}"> <!-- Lead Source (Most Recent) -->
          <input type="hidden" id="referralSourceMostRecent" name="Referral_Source_Most_Recent__c" value="Unknown"> <!-- Referral Source (Most Recent) -->
          <input type="hidden" id="searchPlatformMostRecent" name="Search_Platform_Most_Recent__c" value="Unknown"> <!-- Search Platform (Most Recent) -->
          <input type="hidden" id="socialNetworkMostRecent" name="Social_Network_Most_Recent__c" value="Unknown"> <!-- Social Network (Most Recent) -->
          <input type="hidden" id="paidServiceMostRecent" name="Paid_Service_Most_Recent__c" value="Unknown"> <!-- Paid Service (Most Recent) -->
          <input type="hidden" id="campaignPageURL" name="Campaign_Page_URL__c" value=""> <!-- Campaign Page URL -->
          <input type="hidden" id="campaignPageURLReferrer" name="Campaign_Page_URL_Referrer__c" value=""> <!-- Campaign Page URL (Referrer) -->
          <!--<input type="hidden" name="Hand_Raise_Most_Recent__c" value="Demo Request Form">--> <!-- Hand Raise Only -->
          <!--<input type="hidden" name="Hand_Raised__c" value="true">--> <!-- Hand Raise Only -->
          <input type="hidden" name="ret" value="${mkto-form-redirect}" />

          <!--Hidden email address field; pre-pops-->
          <input id="Email" name="Email" type="hidden" value="{{lead.Email Address}}">

<h2>THIS AN OLD VERSION</h2>

            <!--Start Promotional-->
            <div id="sub-promo" class="row" style="margin-bottom: 1em;">
              <div class="media">

                <div class="align-self-center mr-3">
                    <div class="onoffswitch">
                        <input id="Subscribed_to_Promotions__c" name="Subscribed_to_Promotions__c" type="checkbox" class="onoffswitch-checkbox" >
                        <label class="onoffswitch-label" for="Subscribed_to_Promotions__c">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>

                <div>
                  <b style="font-size: 14px">Marketing Resources</b>

                  <p style="font-size: 80%">Don't miss any of our content launches, marketing tips or special announcements!</p>
                </div>

              </div>
            </div>
            <!--End Promotional-->

            <!--Start Newsletter-->
            <div id="sub-newsletter" class="row" style="margin-bottom: 1em;">
              <div class="media">

                <div class="align-self-center mr-3">
                    <div class="onoffswitch">
                        <input id="Subscribed_to_Newsletter__c" name="Subscribed_to_Newsletter__c" type="checkbox" class="onoffswitch-checkbox" >
                        <label class="onoffswitch-label" for="Subscribed_to_Newsletter__c">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>

                <div>
                  <b style="font-size: 14px">The Content Marketeer Newsletter</b>

                  <p style="font-size: 80%">Weekly eNewsletter featuring fresh insights and best practices from Kapost's Marketing Blog.</p>
                </div>

              </div>
            </div>
            <!--End Newsletter-->

            <!--Start Customer Marketing-->
            <div id="sub-customermktg" class="row" style="margin-bottom: 1em; display: none;">
              <div class="media">

                <div class="align-self-center mr-3">
                    <div class="onoffswitch">
                        <input id="Subscribed_to_Customer_Marketing__c" name="Subscribed_to_Customer_Marketing__c" type="checkbox" class="onoffswitch-checkbox" >
                        <label class="onoffswitch-label" for="Subscribed_to_Customer_Marketing__c">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>

                <div>
                  <b style="font-size: 14px">Product Release Updates</b>

                  <p style="font-size: 80%">People of Earth, your attention, please. As you will no doubt be aware, the plans for development of the outlying regions of the Galaxy require the building of a hyperspatial express route through your star system.</p>
                </div>

              </div>
            </div>
            <!--End Customer Marketing-->

            <hr>

            <!--Start Global-->
            <div id="sub-global" class="row" style="margin-bottom: 1em;">
              <div class="media">

                <div class="align-self-center mr-3">
                    <div class="onoffswitch">
                        <input id="Unsubscribed" name="Unsubscribed" type="checkbox" class="onoffswitch-checkbox" >
                        <label class="onoffswitch-label" for="Unsubscribed">
                            <span id="global-onoffswitch" class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>

                <div>
                  <b style="font-size: 14px">Unsubscribe from all Kapost communications</b>

                  <p style="font-size: 80%">If you continue to receive emails after you’ve opted out, email us at response@kapost.com and we’ll get things straightened out.</p>

                  <p style="font-size: 80%; font-style: italic;">Please note that customers will continue to receive transactional information regarding their Kapost accounts.</p>
                </div>

              </div>
            </div>
            <!--End Global-->

            <!--Global Opt Out Warning-->
            <div id="optOutWarning" class="row justify-content-center" style="display: none;">
              <div class="col-12  col-md-10 text-center">
                <p style="font-size: 80%; color: rgb(201, 71, 41); font-weight: 700;">Heads up! You've added one or more subscriptions to your preferences but you're still globally opted out.</p>
              </div>
            </div>

            <!--Submit Button-->
            <div class="row justify-content-center">
              <div class="col-12 col-md-6">
                <button name="kapostmktoform" type="submit" class="btn btn-block">${mkto-form-button-copy}</button>
              </div>
            </div>

          </form>

          <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>

          <script>
            //START VALIDATION CONFIG + REMOVE COOKIES ON SUBMIT
            //Customize error messages here...
            var myLanguage = {
             errorTitle: 'One or more required fields are missing!',
             requiredFields: 'This field is required',
             badEmail: 'Please enter a valid email address',
             badTelephone: 'Please enter a valid phone number',
             lengthBadStart: 'The input value must be between ',
             lengthBadEnd: ' characters',
             lengthTooLongStart: 'The input value is longer than ',
             lengthTooShortStart: 'The input value is shorter than ',
             badCustomVal: 'The input value is incorrect',
             andSpaces: ' and spaces ',
             badInt: 'Please enter a valid phone number',
             badAlphaNumeric: 'The input value can only contain alphanumeric characters '
            };

            $.validate({
              form : '#kapostmktoform', //form ID
              modules : 'html5',
              errorMessagePosition : 'top', // Instead of 'inline' which is default
              scrollToTopOnError : true, // Set this property to true on longer forms
              addSuggestions : false, // Set to false if you don't want the plugin to search through the form for input suggestions.
              language : myLanguage, // Customize error messages

              onSuccess : function($form) {
                Cookies.remove('kapostsearch', { domain: 'kapost.com' });
                Cookies.remove('kapostsocial', { domain: 'kapost.com' });
                Cookies.remove('kapostsource', { domain: 'kapost.com' });
                Cookies.remove('kapostpaid', { domain: 'kapost.com' });
                Cookies.remove('kapostsearch');
                Cookies.remove('kapostsocial');
                Cookies.remove('kapostsource');
                Cookies.remove('kapostpaid');
              }

            });
          </script>

            <!--START PREFERENCE CENTER LOGIC-->
            <script type="text/javascript">
              //Show/Hide Customer Marketing
              var accountStatus = "{{lead.Account Status (C)}}";
              if (accountStatus === "Customer") {
                document.getElementById('sub-customermktg').style.display = "";
              }
            </script>
            <!--END PREFERENCE CENTER LOGIC-->

            <!-- START OPT OUT WARNINGS -->
            <script>

            //If globally opted out and checks a subscription
            $('#Subscribed_to_Newsletter__c,#Subscribed_to_Promotions__c,#Subscribed_to_Customer_Marketing__c').change(function(){
              if ($('#Unsubscribed').is(":checked") && $('#Subscribed_to_Newsletter__c,#Subscribed_to_Promotions__c,#Subscribed_to_Customer_Marketing__c').is(":checked"))
              {
                document.getElementById('optOutWarning').style.display = "";
              } else {
                document.getElementById('optOutWarning').style.display = "none";
              }

            });

            //If they uncheck Global Opt Out
            $('#Unsubscribed').change(function(){
              if ($('#Unsubscribed').is(":checked"))
              {
                //Leave warning up
              } else {
                document.getElementById('optOutWarning').style.display = "none";
              }

            });
            </script>
            <!-- END OPT OUT WARNINGS -->



      </div>
    </div>
  </div>
</div>
