<!--Start Form Code-->
<form id="kapostmktoform" action="http://app-sj08.marketo.com/index.php/leadCapture/save" method="POST" target="_parent">
  <input type="hidden" name="munchkinId" value="389-IOX-111">
  <input type="hidden" name="formid" value="${mkto-form-id}">
  <input type="hidden" name="returnLPId" value="-1">
  <input type="hidden" name="_mkt_trk" value="">

  <input type="hidden" id="leadSourceMostRecent" name="Lead_Source_Most_Recent__c" value="${mkto-form-lead-source-most-recent}">
  <input type="hidden" id="referralSourceMostRecent" name="Referral_Source_Most_Recent__c" value="Unknown">
  <input type="hidden" id="searchPlatformMostRecent" name="Search_Platform_Most_Recent__c" value="Unknown">
  <input type="hidden" id="socialNetworkMostRecent" name="Social_Network_Most_Recent__c" value="Unknown">
  <input type="hidden" id="paidServiceMostRecent" name="Paid_Service_Most_Recent__c" value="Unknown">
  <input type="hidden" id="campaignPageURL" name="Campaign_Page_URL__c" value="">
  <input type="hidden" id="campaignPageURLReferrer" name="Campaign_Page_URL_Referrer__c" value="">
  <input type="hidden" id="Unsubscribed" name="Unsubscribed" value="true"> <!-- Auto-check Unsubscribe -->
  <input type="hidden" name="ret" value="https://kapost.com" />

  <div class="row"> <!-- Start field row -->

    <div class="form-group form-padding col-12">
    <!--Email Address-->
      <label class="col-form-label float-label" for="Email">Email Address</label>
      <input id="Email" name="Email" data-validation="email" type="text" class="form-control" placeholder="Email Address" value="{{lead.Email Address}}">
    </div>

  </div> <!--End Field Row-->

  <!--Submit Button-->
  <div class="row justify-content-center">
    <div class="col-12">
      <button name="kapostmktoform" type="submit" class="btn btn-block">${mkto-form-button-copy}</button>
    </div>
  </div>

  <!--reCAPTCHA-->
  <div id="recaptcha-wrapper" class="row justify-content-center">
    <div class="col-12">
      <div id="g-recaptcha" class="row justify-content-center"></div>
    </div>
  </div>

</form>

<%= partial "partials/page-floating-footer" %>
<%= partial "partials/js-form-unsub-global" %>
