<section id="form-container">
    <div class="container">
      <div class="row no-gutters justify-content-center">
        <div class="col-12 col-lg-7">
          <div class="form-wrapper">

            <!--Start Form Code-->
            <form id="kapostmktoform" action="http://app-sj08.marketo.com/index.php/leadCapture/save" method="POST" target="_parent">
            <input type="hidden" name="munchkinId" value="389-IOX-111">
            <input type="hidden" name="formid" value="${mkto-form-id}">
            <input type="hidden" name="returnLPId" value="-1"> <!--What does this do?-->
            <input type="hidden" name="_mkt_trk" value=""> <!--Munchkin passes value into this field-->
            <input type="hidden" id="leadSourceMostRecent" name="Lead_Source_Most_Recent__c" value="${mkto-form-lead-source-most-recent}"> <!-- Lead Source (Most Recent) -->
            <input type="hidden" id="referralSourceMostRecent" name="Referral_Source_Most_Recent__c" value="Unknown"> <!-- Referral Source (Most Recent) -->
            <input type="hidden" id="searchPlatformMostRecent" name="Search_Platform_Most_Recent__c" value="Unknown"> <!-- Search Platform (Most Recent) -->
            <input type="hidden" id="socialNetworkMostRecent" name="Social_Network_Most_Recent__c" value="Unknown"> <!-- Social Network (Most Recent) -->
            <input type="hidden" id="paidServiceMostRecent" name="Paid_Service_Most_Recent__c" value="Unknown"> <!-- Paid Service (Most Recent) -->
            <input type="hidden" id="campaignPageURL" name="Campaign_Page_URL__c" value=""> <!-- Campaign Page URL -->
            <input type="hidden" id="campaignPageURLReferrer" name="Campaign_Page_URL_Referrer__c" value=""> <!-- Campaign Page URL (Referrer) -->
            <!--<input type="hidden" name="Hand_Raise_Most_Recent__c" value="Demo Request Form">--> <!-- Hand Raise Only -->
            <!--<input type="hidden" name="Hand_Raised__c" value="true">--> <!-- Hand Raise Only -->
            <input type="hidden" name="ret" value="${mkto-form-redirect}" />

            <!--Hidden email address field; pre-pops-->
            <input id="Email" name="Email" type="hidden" value="{{lead.Email Address}}">

            <div class="row"> <!-- Start field row -->


              <h4>You are subscribed to the following lists:</h4>

              <div id="subscribedtoNewsletterWrapper" class="col-12">
                <div class="form-check">
                  <!--<p style="font-size: 90%;">Also subscribe me to...</p>
                  <hr>-->
                  <label class="checkbox">
                    <input id="UPDATEME1" name="UPDATEME1"  type="checkbox">
                    <span class="checkbox-option" style="font-weight: 700;">Promotional Emails</span>
                  </label>
                  <p style="padding-left: 25px; font-size: 80%;">The Hitchhiker's Guide to the Galaxy has a few things to say on the subject of towels</p>
                </div>
              </div>

              <div id="subscribedtoNewsletterWrapper" class="col-12">
                <div class="form-check">
                  <!--<p style="font-size: 90%;">Also subscribe me to...</p>
                  <hr>-->
                  <label class="checkbox">
                    <input id="UPDATEME1" name="UPDATEME1"  type="checkbox">
                    <span class="checkbox-option" style="font-weight: 700;">The Content Marketeer</span>
                  </label>
                  <p style="padding-left: 25px; font-size: 80%;">Subscribe to our weekly newsletter and get fresh insights, stories, data and best practices delivered right to your inbox.</p>
                </div>
              </div>


              <div id="subscribedtoNewsletterWrapper" class="col-12">
                <div class="form-check">
                  <!--<p style="font-size: 90%;">Also subscribe me to...</p>
                  <hr>-->
                  <label class="checkbox">
                    <input id="UPDATEME1" name="UPDATEME1"  type="checkbox">
                    <span class="checkbox-option" style="font-weight: 700;">Customer Marketing Emails</span>
                  </label>
                  <p style="padding-left: 25px; font-size: 80%;">Sleep under it beneath the stars which shine so redly on the desert world of Kakrafoon </p>
                </div>
              </div>


              <h4>Opt out from all Kapost communications</h4>
              <p>If you continue to receive emails after you’ve opted out, email us at response@kapost.com and we’ll get things straightened out.</p>

              <div id="subscribedtoNewsletterWrapper" class="col-12">
                <div class="form-check">
                  <!--<p style="font-size: 90%;">Also subscribe me to...</p>
                  <hr>-->
                  <label class="checkbox">
                    <input id="UPDATEME1" name="UPDATEME1"  type="checkbox">
                    <span class="checkbox-option" style="font-weight: 700;">Never email me again!</span>
                  </label>
                  <p style="padding-left: 25px; font-size: 80%;">Please note that customers will continue to receive transactional information regarding their Kapost accounts.</p>
                </div>
              </div>


            </div> <!--End Field Row-->

            <!--Submit Button-->
            <div class="row justify-content-center">
              <div class="col-12">
                <button name="kapostmktoform" type="submit" class="btn btn-block">${mkto-form-button-copy}</button>
              </div>
            </div>



          </form>

          <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>

          <script>
            //START VALIDATION CONFIG + REMOVE COOKIES ON SUBMIT
            //Customize error messages here...
            var myLanguage = {
             errorTitle: 'One or more required fields are missing!',
             requiredFields: 'This field is required',
             badEmail: 'Please enter a valid email address',
             badTelephone: 'Please enter a valid phone number',
             lengthBadStart: 'The input value must be between ',
             lengthBadEnd: ' characters',
             lengthTooLongStart: 'The input value is longer than ',
             lengthTooShortStart: 'The input value is shorter than ',
             badCustomVal: 'The input value is incorrect',
             andSpaces: ' and spaces ',
             badInt: 'Please enter a valid phone number',
             badAlphaNumeric: 'The input value can only contain alphanumeric characters '
            };

            $.validate({
              form : '#kapostmktoform', //form ID
              modules : 'html5',
              errorMessagePosition : 'top', // Instead of 'inline' which is default
              scrollToTopOnError : true, // Set this property to true on longer forms
              addSuggestions : false, // Set to false if you don't want the plugin to search through the form for input suggestions.
              language : myLanguage, // Customize error messages

              onSuccess : function($form) {
                Cookies.remove('kapostsearch', { domain: 'kapost.com' });
                Cookies.remove('kapostsocial', { domain: 'kapost.com' });
                Cookies.remove('kapostsource', { domain: 'kapost.com' });
                Cookies.remove('kapostpaid', { domain: 'kapost.com' });
                Cookies.remove('kapostsearch');
                Cookies.remove('kapostsocial');
                Cookies.remove('kapostsource');
                Cookies.remove('kapostpaid');
              }

            });
          </script>

          <!--START PICK LIST PRE-POP-->
          <script type="text/javascript">
            var marketingAutomationValue = "{{lead.Marketing Automation}}";
            var marketingAutomationList = document.getElementById('Marketing_Automation__c').options;
              for (var i=0; i<marketingAutomationList.length; i++) {
                if (marketingAutomationValue==marketingAutomationList[i].value) {
                document.getElementById('Marketing_Automation__c').value = marketingAutomationValue;
                break;}
                else {
                document.getElementById('Marketing_Automation__c').value = "";}
              }

            var businessTypeValue = "{{lead.Business Type}}";
            var businessTypeList = document.getElementById('Business_Type__c').options;
              for (var i=0; i<businessTypeList.length; i++) {
                if (businessTypeValue==businessTypeList[i].value){
                document.getElementById('Business_Type__c').value = businessTypeValue;
                break; }
                else {
                document.getElementById('Business_Type__c').value = "";}
              }

          </script>
          <!--END PICK LIST PRE-POP-->

          <!--START NEWSLETTER PRE-POP & SHOW/HIDE-->
          <script type="text/javascript">
            var newsletterValue = "{{lead.Subscribed to Newsletter}}"; //checkbox value 1 or empty

            if (newsletterValue == "1") {
              document.getElementById('subscribedtoNewsletter').checked = "checked"; //check the newsletter subscription box
              document.getElementById('subscribedtoNewsletterWrapper').style.display = 'none'; //hide the newsletter subscription div
            }

          </script>
          <!--END NEWSLETTER PRE-POP & SHOW/HIDE-->


        </div>
      </div>
    </div>
  </div>
</section>
