<header class="container-fluid">

    <div class="row">
      <div class="col-12">

        <nav class="navbar navbar-expand-md navbar-light blur">

          <a class="navbar-brand" href="https://kapost.com/"><img src="http://resources.kapost.com/rs/389-IOX-111/images/logo-kapost-full-535x145.svg"  style="height: 50px;"></a>


          <button class="navbar-toggler" type="button" data-toggle="modal" data-target="#kpst-nav-modal" aria-controls="kpst-nav-modal2" aria-expanded="false" data-keyboard="true"  aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse justify-content-end">
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="https://kapost.com/solutions/why-kapost/">Why Kapost?</a>
              <a class="nav-item nav-link" href="https://kapost.com/platform/">Platform</a>
              <a class="nav-item nav-link" href="https://kapost.com/services/">Services</a>
              <a class="nav-item nav-link" href="https://kapost.com/case-studies">Customers</a>
              <a class="nav-item nav-link" href="https://kapost.com/resources/">Resources</a>
              <a class="nav-item nav-link" href="http://marketeer.kapost.com/">Blog</a>
            </div>
          </div>
        </nav>

        <!-- Modal -->
        <div class="modal fade" id="kpst-nav-modal" tabindex="-1" role="dialog" aria-labelledby="kpst-nav-modal2">
          <div class="modal-dialog modal-custom" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <ul>
                  <li><a href="https://kapost.com/solutions/why-kapost/">Why Kapost?</a></li>
                  <li><a href="https://kapost.com/platform/">Platform</a></li>
                  <li><a href="https://kapost.com/services/">Services</a></li>
                  <li><a href="https://kapost.com/case-studies">Customers</a></li>
                  <li><a href="https://kapost.com/resources/">Resources</a></li>
                  <li><a href="http://marketeer.kapost.com/">Blog</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>

</header>
