<header class="container-fluid">
  <div class="row">
    <div class="col-12">
      <nav class="navbar navbar-toggleable-md navbar-light blur">
        <a class="navbar-brand" href="https://kapost.com/"><img src="http://resources.kapost.com/rs/389-IOX-111/images/logo-kapost-full-535x145.svg" style="height: 50px;"></a>
      </nav>
    </div>
  </div>
</header>
