<div id="additional-offer" class="container-fluid">
  <div class="container">

    <div class="row d-flex align-items-center">
      <div class="col-12 col-lg-6 pb-3 pb-lg-0 text-center">
        <a href="https://marketeer.kapost.com/"><img src="http://resources.kapost.com/rs/389-IOX-111/images/kapost-blog-banner-logo.png" class="img-fluid" style="max-height: 150px;"></a>
      </div>
      <div class="col-12 col-lg-6 text-center text-lg-left">
        <h3>Learn how to bring your content marketing operation to the next level.</h3>
        <p><a href="https://marketeer.kapost.com/">Check out our blog</a></p>
      </div>
    </div>

  </div>
</div>
