<div id="floating-footer" class="row no-gutters">
  <div class="col-12 text-center">
    <p>
      © Kapost {{my.Copyright Year}} | <a href="http://kapost.com/privacy-policy/">Privacy Policy</a>
    </p>
  </div>
</div>
