<div class="row">
  <div class="col-12 text-center">

    <!--START CONTENT-->

      <a href="#"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>

    <!--END CONTENT-->

  </div>
</div>
