---
title: Kapost
layout: layout-confirm
---

<div id="title" class="container-fluid flex-grow">
  <div class="container">

    <div id="title-icon" class="row text-center">
      <div class="col-12">
        <img src="http://via.placeholder.com/300x300" style="height: 150px;">
      </div>
    </div>

    <div class="row text-center">
      <div class="col-12">

        <h1>Unsubscribe Confirmation</h1>
        <!--<p>Your request has successfully been submitted. We'll be reaching out to you soon!</p>-->

      </div>
    </div>
  </div>
</div>

<div id="content" class="container-fluid">
  <div class="container">

    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1 text-center">

        <!--START CONTENT-->

          <p>[EMAIL ADDRESS] has been unsubscribed from all Kapost communications. Please allow up to 48 hours for your changes to take place.</p>

        <!--END CONTENT-->

      </div>
    </div>

    <div class="row">
      <div class="col-12 text-center">

        <!--START CONTENT-->

          <p>Please note that customers will continue to receive transactional information regarding their Kapost accounts.</p>

        <!--END CONTENT-->

      </div>
    </div>

  </div>
</div>
