---
title: Kapost
layout: layout-confirm
---

<div id="title" class="container-fluid flex-grow">
  <div class="container">

    <div id="title-icon" class="row text-center">
      <div class="col-12">
        <img src="http://resources.kapost.com/rs/389-IOX-111/images/kpst-icon-small-webinar-170x170.png" class="img-fluid" style="max-height: 100px;">
      </div>
    </div>

    <div class="row text-center">
      <div class="col-12">
        <h1>Thank you for registering</h1>
      </div>
    </div>
  </div>
</div>

<div id="content" class="container-fluid">
  <div class="container">

    <div class="row justify-content-center">
      <div class="col-12 col-lg-9 text-center">
        <p>You'll receive a confirmation email in your inbox shortly. Please <a href="mailto:response@kapost.com">email us</a> if you have any issues.</p>
      </div>
    </div>

    <%= partial "partials/page-social" %>

  </div>
</div>
