---
title: Kapost
layout: layout-confirm
---

<div id="title" class="container-fluid flex-grow">
  <div class="container">

    <div id="title-icon" class="row text-center">
      <div class="col-12">
        <img src="http://via.placeholder.com/300x300" style="height: 150px;">
      </div>
    </div>

    <div class="row text-center">
      <div class="col-12">

        <h1>Unsubscribe Confirmation</h1>

      </div>
    </div>
  </div>
</div>

<div id="content" class="container-fluid">
  <div class="container">

    <div class="row">
      <div class="col-12 col-lg-6 offset-lg-3 text-center">

        <!--START CONTENT-->

          <p>You have been unsubscribed from all Kapost communications.<br> Please allow up to 48 hours for your changes to take place.</p>

        <!--END CONTENT-->

      </div>
    </div>

  </div>
</div>
