---
title: Kapost
layout: layout-handraiser
---

<div id="title" class="container-fluid">
  <div class="container">

    <div id="title-icon" class="row text-center">
      <div class="col-12">
        <img src="http://via.placeholder.com/300x300" style="height: 150px;">
      </div>
    </div>

    <div class="row text-center">
      <div class="col-12">

        <h1>Contact Kapost</h1>
        <h3>Complete the form below and we'll be in touch with you shortly.</h3>


      </div>
    </div>
  </div>
</div>


<div id="form-wrapper" class="container-fluid">
  <div class="container">
    <%= partial "partials/form-horizontal" %>
  </div>
</div>
