---
title: Email Preference Center
layout: layout-preference-center
---

<div id="title" class="container-fluid text-center">
  <div class="container">

    <div id="title-icon" class="row">
      <div class="col-12">
        <img src="http://resources.kapost.com/rs/389-IOX-111/images/kpst-icon-small-services-170x170.png" class="img-fluid" style="max-height: 100px;">
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h1>Email Preference Center</h1>
      </div>
    </div>
  </div>
</div>

<div id="form-wrapper" class="container-fluid">
  <div class="container">
    <section id="form-container">
      <div class="row no-gutters justify-content-center">
        <div class="col-12 col-lg-8 col-xl-7">
          <%= partial "partials/form-pref" %>
        </div>
      </div>
    </section>
  </div>
</div>
