---
title: Kapost
layout: layout-newsletter
---

<div id="title" class="container-fluid">
  <div class="container">

    <div id="title-icon" class="row text-center">
      <div class="col-12">
        <img src="http://resources.kapost.com/rs/389-IOX-111/images/kpst-icon-small-services-170x170.png" class="img-fluid" style="max-height: 100px;">
      </div>
    </div>

    <div class="row text-center">
      <div class="col-12">
        <h1>Get the Kapost Customer Newsletter!</h1>
        <h3>Coming soon! Exclusive to Kapost customers, this monthly roundup will feature a curated selection of tips, updates, and new resources designed to make you the best marketer on the block.</h3>
      </div>
    </div>
  </div>
</div>

<div id="form-wrapper" class="container-fluid">
  <div class="container">
    <section id="form-container">
      <div class="row no-gutters justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <%= partial "partials/form-sub-newsletter-css" %>
        </div>
      </div>
    </section>
  </div>
</div>
