---
title: Kapost
layout: layout-webinar
---

<div id="title" class="container-fluid">
  <div class="container">

    <div class="row text-center">
      <div class="col-12">

        <h1>The Hitchhiker's Guide to the Galaxy has a few things to say on the subject of towels </h1>
        <h4>Tuesday, May 2, 2017 | 9:00 AM - 10:00 PM PT</h4>

      </div>
    </div>
  </div>
</div>

<div id="content-summary" class="container-fluid" >
  <div class="container">

    <div class="row">
      <div class="col-12 col-lg-6 text-center">
          <img src="http://via.placeholder.com/500x500" class="img-fluid">
      </div>
      <div class="col-10 col-sm-10 col-md-7 col-lg-6 mx-auto mt-5 align-self-center" >

        <h2>Webinar Highlights</h2>

        <ul>

          <li>
            Use it to sail a mini raft down the slow heavy river Moth
          </li>

          <li>
            Wave your towel in emergencies as a distress signal
          </li>

          <li>
            Sleep under it beneath the stars which shine so redly on the desert world of Kakrafoon
          </li>



        </ul>

        <a href="#kapostmktoform"><button type="button" class="btn btn-primary">Save my spot!</button></a>

      </div>
    </div>

  </div>
</div>


<div id="content" class="container-fluid">
  <div class="container">

    <div class="row justify-content-center">
      <div class="col-12 col-lg-9">

        <!--START CONTENT-->

        <h3>The Hitchhiker's Guide to the Galaxy has a few things to say on the subject of towels </h3>

        <p>People of Earth, your attention, please. As you will no doubt be aware, the <a href="">plans for development</a> of the outlying regions of the Galaxy require the building of a <b>hyperspatial express route</b> through your star system. And regrettably, your planet is one of those scheduled for demolition. The process will take slightly less than two of your Earth minutes. Thank you.</p>

        <ul>

          <li>
            Use it to sail a mini raft down the slow heavy river Moth
          </li>

          <li>
            Wave your towel in emergencies as a distress signal
          </li>

          <li>
            Sleep under it beneath the stars which shine so redly on the desert world of Kakrafoon
          </li>

        </ul>

        <p>The dolphin is the second most intelligent species on the planet Earth. They long ago knew of Earth's planned destruction and tried to communicate this to humans who misinterpreted it as "amusing attempts to punch football or whistle for tidbits. The last ever dolphin message was misinterpreted as a <a href="">surprisingly sophisticated attempt</a> to do a double-backwards-somersault through a hoop whilst whistling the 'Star Spangled Banner', but in fact the message was this: So long and thanks for all the fish.
        </p>

        <!--END CONTENT-->

      </div>
    </div>

  </div>
</div>




<div id="content-presenter" class="container">
  <div class="container">

    <div class="row">
      <div class="col-12 text-center">
        <h3>Your Hosts</h3>
      </div>
    </div>

    <!--Presenter 1-->
    <div class="row presenter align-items-center justify-content-center" style="display: ${mkto-presenter-1-display};">
      <div class="col-12 col-md-3 text-center">
        <img src="http://resources.kapost.com/rs/389-IOX-111/images/1aee671-2.jpg" alt="" class="img-fluid rounded-circle" style="max-width: 150px;">
      </div>
      <div class="col-12 col-md-7 text-sm-center text-md-left">

        <div class="row">
          <div class="col-12">
            <p class="presenter-name">Kim Wagner</p>
            <p class="presenter-title">Director of Customer Success Enablement, Kapost</p>
          </div>
        </div>

        <div class="row">
          <div class="col-12 mktoText" id="mkto-presenter-1-bio" mktoName="Presenter 1 Bio">
            <p>
              Kim Wagner has extensive experience with various implementations of Kapost.  As an expert in the Kapost product she helps Kapost customers leverage the platform to meet their business needs and optimize their use of the system.
            </p>
            <p>
              <a href="#" class="social"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
            </p>
          </div>
        </div>

      </div>
    </div>

    <!--Presenter 2-->
    <div class="row presenter align-items-center justify-content-center" style="display: ${mkto-presenter-2-display};">
      <div class="col-12 col-md-3 text-center">
        <img src="http://resources.kapost.com/rs/389-IOX-111/images/Kelsey_Loughman_headshot.jpg" alt="" class="img-fluid rounded-circle" style="max-width: 150px;">
      </div>
      <div class="col-12 col-md-7 text-sm-center text-md-left">

        <div class="row">
          <div class="col-12">
            <p class="presenter-name">Kelsey Loughman</p>
            <p class="presenter-title">Senior Content Marketing Manager, Kapost</p>
          </div>
        </div>

        <div class="row">
          <div class="col-12 mktoText" id="mkto-presenter-2-bio" mktoName="Presenter 2 Bio">
            <p>
              Kelsey is a writer and Senior Content Marketing Manager at Kapost. With a background in copywriting, online editing, and SEO, she loves creating prescriptive content that enables B2B marketers to work smarter, not harder. She also has a penchant for analyzing marketing metrics—because the best B2B marketing strategy begins and ends with revenue.
            </p>
            <p>
              <a href="#" class="social"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
              <a href="#" class="social"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
            </p>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

<div id="form-topper" class="container-fluid" >
  <div class="container">

    <div class="row">
      <div class="col-12 text-center">

        <img src="http://resources.kapost.com/rs/389-IOX-111/images/kpst-icon-small-webinar-170x170.png" class="img-fluid" style="max-height: 100px;">
        <h4>Register for this webinar!</h4>

      </div>
    </div>

  </div>
</div>

<div id="form-wrapper" class="container-fluid">
  <div class="container">
    <%= partial "partials/form-vertical" %>
  </div>
</div>
