---
title: Kapost
layout: layout-handraiser
---

<div id="title" class="container-fluid">
  <div class="container">

    <div id="title-icon" class="row text-center">
      <div class="col-12">
        <img src="http://resources.kapost.com/rs/389-IOX-111/images/kpst-icon-small-offset-social-355x355.png" class="img-fluid" style="max-height: 120px;">
      </div>
    </div>

    <div class="row text-center">
      <div class="col-12">

        <h1>Contact Kapost</h1>
        <h3>Complete the form below and we'll be in touch with you shortly.</h3>

      </div>
    </div>
  </div>
</div>


<div id="form-wrapper" class="container-fluid">
  <div class="container">
    <section id="form-container">
      <div class="row no-gutters justify-content-center">
        <div class="col-12 col-lg-6 col-xl-5">
          <%= partial "partials/form-handraiser" %>
        </div>
      </div>
    </section>
  </div>
</div>
