---
title: Email Preference Center
layout: layout-preference-center
---

<div id="title" class="container-fluid text-center">
  <div class="container">

    <div id="title-icon" class="row">
      <div class="col-12">
        <img src="http://via.placeholder.com/300x300" style="height: 150px;" class="img-fluid">
      </div>
    </div>

    <div class="row">
      <div class="col-12">

        <h1>Email Preference Center</h1>

      </div>
    </div>
  </div>
</div>

<div id="form-wrapper" class="container-fluid">
  <div class="container">
    <%= partial "partials/form-pref" %>
  </div>
</div>
