---
title: Kapost
layout: layout-newsletter
---

<div id="title" class="container-fluid">
  <div class="container">

    <div id="title-icon" class="row text-center">
      <div class="col-12">
        <img src="http://resources.kapost.com/rs/389-IOX-111/images/kpst-icon-small-services-170x170.png" class="img-fluid" style="max-height: 100px;">
      </div>
    </div>

    <div class="row text-center">
      <div class="col-12">

        <h1>Get the Kapost Newsletter!</h1>
        <h3>Subscribe for a weekly roundup of marketing-focused blogs from industry leaders.</h3>


      </div>
    </div>
  </div>
</div>


<div id="form-wrapper" class="container-fluid">
  <div class="container">
    <%= partial "partials/form-sub-newsletter" %>
  </div>
</div>
