---
title: Kapost
layout: layout-webinar
---

<div id="title" class="container-fluid">
  <div class="container">

    <div class="row text-center">
      <div class="col-12">

        <div class="mktoText" id="mkto-header"  mktoName="Header">
          <h1>The Hitchhiker's Guide to the Galaxy</h1>
        </div>

        <div class="mktoText" id="mkto-subheader"  mktoName="Subheader">
          <h4>January 1, 2018 | 10:00AM MDT</h4>
        </div>

      </div>
    </div>
  </div>
</div>

<div id="content-summary" class="container-fluid" >
  <div class="container">

    <div class="row">

      <div class="col-12 col-lg-5 text-center">
          <img src="${mkto-img-main}" class="img-fluid">
      </div>

      <div class="col-10 col-lg-6 col-xl-6 mx-auto mt-5 align-self-center">

        <div class="mktoText" id="mkto-summary-header"  mktoName="Summary Header">
          <h2>Webinar Highlights</h2>
        </div>

        <div class="mktoText" id="mkto-summary"  mktoName="Summary">

          <ul>

            <li>
              Use it to sail a mini raft down the slow heavy river Moth
            </li>

            <li>
              Wave your towel in emergencies as a distress signal
            </li>

            <li>
              Sleep under it beneath the stars which shine so redly on the desert world of Kakrafoon
            </li>

          </ul>

        </div>

        <a href="#kapostmktoform"><button type="button" class="btn btn-primary">${mkto-summary-button}</button></a>

      </div>
    </div>

  </div>
</div>


<div id="content" class="container-fluid">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-9">

        <div class="mktoText" id="mkto-content-header"  mktoName="Content Header">
          <h3>The Hitchhiker's Guide to the Galaxy has a few things to say on the subject of towels </h3>
        </div>

        <div class="mktoText" id="mkto-content"  mktoName="Content">
          <p>People of Earth, your attention, please. As you will no doubt be aware, the <a href="">plans for development</a> of the outlying regions of the Galaxy require the building of a <b>hyperspatial express route</b> through your star system. And regrettably, your planet is one of those scheduled for demolition. The process will take slightly less than two of your Earth minutes. Thank you.</p>

          <ul>

            <li>
              Use it to sail a mini raft down the slow heavy river Moth
            </li>

            <li>
              Wave your towel in emergencies as a distress signal
            </li>

            <li>
              Sleep under it beneath the stars which shine so redly on the desert world of Kakrafoon
            </li>

          </ul>

          <p>The dolphin is the second most intelligent species on the planet Earth. They long ago knew of Earth's planned destruction and tried to communicate this to humans who misinterpreted it as "amusing attempts to punch football or whistle for tidbits. The last ever dolphin message was misinterpreted as a <a href="">surprisingly sophisticated attempt</a> to do a double-backwards-somersault through a hoop whilst whistling the 'Star Spangled Banner', but in fact the message was this: So long and thanks for all the fish.
          </p>
        </div>

      </div>
    </div>
  </div>
</div>

<div id="content-presenter" class="container">
  <div class="container">

    <div class="row">
      <div class="col-12 text-center">
        <h3>Your Hosts</h3>
      </div>
    </div>

    <!--Presenter 1-->
    <div class="row presenter align-items-center justify-content-center" style="display: ${mkto-presenter-1-display};">

      <div class="col-12 col-md-4 col-lg-3 text-center pb-3 pb-md-0">
        <img src="${mkto-presenter-1-img}" alt="" class="img-fluid rounded-circle" style="max-width: 150px;">
      </div>

      <div class="col-12 col-md-8 col-lg-7 text-center text-md-left">

        <div class="row">
          <div class="col-12">
            <p class="presenter-name">${mkto-presenter-1-name}</p>
            <p class="presenter-title">${mkto-presenter-1-title}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-12 mktoText" id="mkto-presenter-1-bio" mktoName="Presenter 1 Bio">
            <p>
              An educator at heart, Paralee is dedicated to building a marketing operation that matters. That means designing digital experiences for every customer that engage, delight, and inform with the right content at right time. She is a guest lecturer for the Digital Creative Institute and General Assembly and contributor to Forbes, CMI, and Kapost's own Marketeer.
            </p>
            <p>
              <a href="#" class="social"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
              <a href="#" class="social"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
            </p>
          </div>
        </div>

      </div>

    </div>

    <!--Presenter 2-->
    <div class="row presenter align-items-center justify-content-center" style="display: ${mkto-presenter-2-display};">

      <div class="col-12 col-md-4 col-lg-3 text-center pb-3 pb-md-0">
        <img src="${mkto-presenter-2-img}" alt="" class="img-fluid rounded-circle" style="max-width: 150px;">
      </div>

      <div class="col-12 col-md-8 col-lg-7 text-center text-md-left">

        <div class="row">
          <div class="col-12">
            <p class="presenter-name">${mkto-presenter-2-name}</p>
            <p class="presenter-title">${mkto-presenter-2-title}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-12 mktoText" id="mkto-presenter-2-bio" mktoName="Presenter 2 Bio">
            <p>
              An educator at heart, Paralee is dedicated to building a marketing operation that matters. That means designing digital experiences for every customer that engage, delight, and inform with the right content at right time. She is a guest lecturer for the Digital Creative Institute and General Assembly and contributor to Forbes, CMI, and Kapost's own Marketeer.
            </p>
            <p>
              <a href="#" class="social"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
              <a href="#" class="social"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
            </p>
          </div>
        </div>

      </div>

    </div>

    <!--Presenter 3-->
    <div class="row presenter align-items-center justify-content-center" style="display: ${mkto-presenter-3-display};">

      <div class="col-12 col-md-4 col-lg-3 text-center pb-3 pb-md-0">
        <img src="${mkto-presenter-3-img}" alt="" class="img-fluid rounded-circle" style="max-width: 150px;">
      </div>

      <div class="col-12 col-md-8 col-lg-7 text-center text-md-left">

        <div class="row">
          <div class="col-12">
            <p class="presenter-name">${mkto-presenter-3-name}</p>
            <p class="presenter-title">${mkto-presenter-3-title}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-12 mktoText" id="mkto-presenter-3-bio" mktoName="Presenter 3 Bio">
            <p>
              An educator at heart, Paralee is dedicated to building a marketing operation that matters. That means designing digital experiences for every customer that engage, delight, and inform with the right content at right time. She is a guest lecturer for the Digital Creative Institute and General Assembly and contributor to Forbes, CMI, and Kapost's own Marketeer.
            </p>
            <p>
              <a href="#" class="social"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
              <a href="#" class="social"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
            </p>
          </div>
        </div>

      </div>

    </div>

    <!--Presenter 4-->
    <div class="row presenter align-items-center justify-content-center" style="display: ${mkto-presenter-4-display};">

      <div class="col-12 col-md-4 col-lg-3 text-center pb-3 pb-md-0">
        <img src="${mkto-presenter-4-img}" alt="" class="img-fluid rounded-circle" style="max-width: 150px;">
      </div>

      <div class="col-12 col-md-8 col-lg-7 text-center text-md-left">

        <div class="row">
          <div class="col-12">
            <p class="presenter-name">${mkto-presenter-4-name}</p>
            <p class="presenter-title">${mkto-presenter-4-title}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-12 mktoText" id="mkto-presenter-4-bio" mktoName="Presenter 4 Bio">
            <p>
              An educator at heart, Paralee is dedicated to building a marketing operation that matters. That means designing digital experiences for every customer that engage, delight, and inform with the right content at right time. She is a guest lecturer for the Digital Creative Institute and General Assembly and contributor to Forbes, CMI, and Kapost's own Marketeer.
            </p>
            <p>
              <a href="#" class="social"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
              <a href="#" class="social"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
            </p>
          </div>
        </div>

      </div>

    </div>

    <!--Presenter 5-->
    <div class="row presenter align-items-center justify-content-center" style="display: ${mkto-presenter-5-display};">

      <div class="col-12 col-md-4 col-lg-3 text-center pb-3 pb-md-0">
        <img src="${mkto-presenter-5-img}" alt="" class="img-fluid rounded-circle" style="max-width: 150px;">
      </div>

      <div class="col-12 col-md-8 col-lg-7 text-center text-md-left">

        <div class="row">
          <div class="col-12">
            <p class="presenter-name">${mkto-presenter-5-name}</p>
            <p class="presenter-title">${mkto-presenter-5-title}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-12 mktoText" id="mkto-presenter-5-bio" mktoName="Presenter 5 Bio">
            <p>
              An educator at heart, Paralee is dedicated to building a marketing operation that matters. That means designing digital experiences for every customer that engage, delight, and inform with the right content at right time. She is a guest lecturer for the Digital Creative Institute and General Assembly and contributor to Forbes, CMI, and Kapost's own Marketeer.
            </p>
            <p>
              <a href="#" class="social"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
              <a href="#" class="social"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
            </p>
          </div>
        </div>

      </div>

    </div>

  </div><!--End Presenter Group-->
</div>

<div id="form-topper" class="container-fluid" >
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <img src="http://resources.kapost.com/rs/389-IOX-111/images/kpst-icon-small-webinar-170x170.png" class="img-fluid" style="max-height: 100px;">
        <h4>Register for this webinar!</h4>
      </div>
    </div>
  </div>
</div>

<div id="form-wrapper" class="container-fluid">
  <div class="container">
    <section id="form-container">
      <div class="row no-gutters justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <%= partial "partials/form-vertical" %>
        </div>
      </div>
    </section>
  </div>
</div>
