---
title: Kapost
layout: layout-rsvp
---

<style type="text/css">
  @media (max-width: 33.9em) {
    #hero {
      background-image: url("http://via.placeholder.com/1000x1000");
      background-position: center center; } }
  @media (min-width: 34em) and (max-width: 47.9em) {
    #hero {
      background-image: url("http://via.placeholder.com/1000x1000");
      background-position: center center; } }
  @media (min-width: 48em) and (max-width: 61.9em) {
    #hero {
      background-image: url("http://via.placeholder.com/1000x1000");
      background-position: center center; } }
  @media (min-width: 62em) {
    #hero {
      background-image: url("http://via.placeholder.com/1000x1000");
      background-position: center center; } }
</style>

<div id="hero" class="container-fluid">
  <div id="title" class="container-fluid">
    <div class="container">
      <div class="row text-center">
        <div class="col-12">
          <h1>${mkto-header-copy}</h1>
          <h4>${mkto-subheader-copy}</h4>
          <a href="#kapostmktoform"><button type="button" class="btn btn-secondary">${mkto-summary-button}</button></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="content" class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1">
        ${mkto-content-copy}
      </div>
    </div>
  </div>
</div>

<div id="content-callout" class="container-fluid" >
  <div class="container">

    <div class="row">
      <div class="col-12 col-lg-6 offset-lg-3 text-center">
        <h3>${mkto-callout-header}</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1 text-center">
        ${mkto-callout-copy}
      </div>
    </div>

  </div>
</div>

<div id="form-topper" class="container-fluid" >
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <img src="http://resources.kapost.com/rs/389-IOX-111/images/kpst-icon-small-rsvp-170x170.png" class="img-fluid" style="max-height: 80px;">
        <h4>Save my spot!</h4>
      </div>
    </div>
  </div>
</div>

<div id="form-wrapper" class="container-fluid">
  <div class="container">
    <section id="form-container">
      <div class="row no-gutters justify-content-center">
        <div class="col-12 col-lg-6 col-xl-5">
          <%= partial "partials/form-vertical" %>
        </div>
      </div>
    </section>
  </div>
</div>
