---
title: Kapost
layout: layout-rsvp
---

<div id="hero" class="container-fluid">

  <div id="title" class="container-fluid">
    <div class="container">

      <div class="row text-center">
        <div class="col-12">

          <h1>The Hitchhiker's Guide to the Galaxy has a few things to say on the subject of towels </h1>
          <h4>May 10, 2016 | 7pm - 9pm | Marketo Marketing Nation Summit 2016 </h4>

          <a href="#kapostmktoform"><button type="button" class="btn btn-secondary">Save my spot!</button></a>

        </div>
      </div>
    </div>
  </div>

</div>

<div id="content" class="container-fluid">
  <div class="container">

    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1">

        <!--START CONTENT-->

        <h3>The Hitchhiker's Guide to the Galaxy has a few things to say on the subject of towels </h3>

        <p>People of Earth, your attention, please. As you will no doubt be aware, the <a href="">plans for development</a> of the outlying regions of the Galaxy require the building of a <b>hyperspatial express route</b> through your star system. And regrettably, your planet is one of those scheduled for demolition. The process will take slightly less than two of your Earth minutes. Thank you.</p>

        <ul>

          <li>
            Use it to sail a mini raft down the slow heavy river Moth
          </li>

          <li>
            Wave your towel in emergencies as a distress signal
          </li>

          <li>
            Sleep under it beneath the stars which shine so redly on the desert world of Kakrafoon
          </li>

        </ul>

        <p>The dolphin is the second most intelligent species on the planet Earth. They long ago knew of Earth's planned destruction and tried to communicate this to humans who misinterpreted it as "amusing attempts to punch football or whistle for tidbits. The last ever dolphin message was misinterpreted as a <a href="">surprisingly sophisticated attempt</a> to do a double-backwards-somersault through a hoop whilst whistling the 'Star Spangled Banner', but in fact the message was this: So long and thanks for all the fish.
        </p>

        <!--END CONTENT-->

      </div>
    </div>

  </div>
</div>

<div id="content-callout" class="container-fluid" >
  <div class="container">

    <div class="row">
      <div class="col-12 col-lg-6 offset-lg-3 text-center">

        <h3>The Hitchhiker's Guide to the Galaxy has a few things to say on the subject of towels </h3>

      </div>
    </div>

    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1 text-center">

        <p>People of Earth, your attention, please. As you will no doubt be aware, the <a href="">plans for development</a> of the outlying regions of the Galaxy require the building of a <b>hyperspatial express route</b> through your star system. And regrettably, your planet is one of those scheduled for demolition. The process will take slightly less than two of your Earth minutes. Thank you.</p>


      </div>
    </div>

  </div>
</div>



<div id="form-topper" class="container-fluid" >
  <div class="container">

    <div class="row">
      <div class="col-12 text-center">

        <img src="http://resources.kapost.com/rs/389-IOX-111/images/kpst-icon-small-rsvp-170x170.png" class="img-fluid" style="max-height: 80px;">
        <h4>Save my spot!</h4>

      </div>
    </div>

  </div>
</div>

<div id="form-wrapper" class="container-fluid">
  <div class="container">
    <%= partial "partials/form-vertical" %>
  </div>
</div>
