---
title: Kapost
layout: layout-unsub-global
---

<div id="title" class="container-fluid text-center">
  <div class="container">

    <div id="title-icon" class="row">
      <div class="col-12">
        <img src="http://resources.kapost.com/rs/389-IOX-111/images/kpst-icon-small-mail-355x355.png" class="img-fluid" style="max-height: 100px;">
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h1>Never email me again!</h1>
        <h3>Unsubscribe from all Kapost communications.</h3>
      </div>
    </div>
  </div>
</div>

<div id="form-wrapper" class="container-fluid">
  <div class="container">
    <section id="form-container">
      <div class="row no-gutters justify-content-center">
        <div class="col-12 col-lg-6 col-xl-5">
          <%= partial "partials/form-unsub-global" %>
        </div>
      </div>
    </section>
  </div>
</div>
