---
title: Kapost
layout: layout-handraiser
---

<div id="title" class="container-fluid">
  <div class="container">

    <div id="title-icon" class="row text-center">
      <div class="col-12">
        <img src="http://resources.kapost.com/rs/389-IOX-111/images/kpst-icon-small-content-group-23-22-819x420.png" class="img-fluid" style="max-height: 100px;">
      </div>
    </div>

    <div class="row text-center">
      <div class="col-12">

        <h1>Get a Demo!</h1>
        <h3>Ready to see how Kapost can help your B2B Marketing strategy?</h3>

      </div>
    </div>
  </div>
</div>


<div id="form-wrapper" class="container-fluid">
  <div class="container">
    <%= partial "partials/form-handraiser" %>
  </div>
</div>
