---
title: Kapost
layout: layout-unsub-global
---

<div id="title" class="container-fluid text-center">
  <div class="container">

    <div id="title-icon" class="row">
      <div class="col-12">
        <img src="http://resources.kapost.com/rs/389-IOX-111/images/kpst-icon-small-mail-355x355.png" class="img-fluid" style="max-height: 100px;">
      </div>
    </div>

    <div class="row">
      <div class="col-12">

        <h1>Never email me again!</h1>

      </div>
    </div>
  </div>
</div>

<div id="form-wrapper" class="container-fluid">
  <div class="container">
    <%= partial "partials/form-unsub-global" %>
  </div>
</div>
