---
title: Kapost
layout: layout-video
---

<div id="title" class="container-fluid">
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
        <h1>${mkto-header-copy}</h1>
      </div>
    </div>
  </div>
</div>

<div id="content-summary" class="container-fluid" >
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="vidyard-innerContainer">
          {{my.Embedded Video}}
        </div>
      </div>
    </div>
  </div>
</div>

<div id="content" class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1">
        ${mkto-content-copy}
      </div>
    </div>
  </div>
</div>

<%= partial "partials/page-additional-offer" %>
